* {
    /* Adding the font to the entire document */
    font-family: "Mina", sans-serif;
}

html, Body {
    /* Ensuring the web page starts in the top left corner */
    margin: 0;
    padding: 0;
}

Header {
    /* Making sure the header spans the entire length of the viewport, and making sure it stays fixed to the top while scrolling down the page */
    width: 100vw;
    height: 60px;
    position: fixed;
    z-index: 100;
    /* Using display flex to align the header items and give it consistent scalability across screen sizes */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #67B6F9;
}

h1 {
    margin-left: 32px;
    font-size: 1.5rem;
}

.cart-button {
    /* Using a new svg because the one included would not work */
    margin-right: 32px;
    background-color: transparent;
    height: 40px;
    aspect-ratio: 1/1;
    border: none;
    background-image: url("shopping-cart.svg");
    background-size: cover;
}

main {
    /* Ensuring the main section of the web page spans the entire width of the page and centers the items inside of it */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-search {
    margin-top: 90px;
    height: 50px;
    width: 98%;
    font-size: 1.1rem;
    border-color: #767676;
    border-radius: 4px;
}

.product-sort-container {
    width: 98%;
    display: flex;
    align-items: center;
}

h2 {
    font-size: 1.8rem;
}

select {
    margin-left: 5%;
}

.products-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
}

.product-tile {
    margin-left: 10px;
    margin-right: 10px;
    width: 25%;
}

.product-image {
    width: 90%;
    aspect-ratio: 2/3;
    object-fit: cover;
}

h3 {
    margin: 0;
    font-size: 1rem;
}

p {
    margin: 0;
}

@media (max-width: 430px) {
    .products-container {
        width: 80%;
    }

    .product-tile {
        width: 40%;
    }

    h1 {
        margin-left: 15px;
    }

    .cart-button {
        margin-right: 15px;
    }
}